.dropdown-toggle::after {
  display: none !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: unset;
  cursor: pointer;
}

::ng-deep .spinner {
  padding: 20px;
  display: flex;
  justify-content: center;
  .mat-progress-spinner,
  .mat-spinner {
    circle {
      stroke: #5e72e4;
    }
  }
}

.field-error {
  color: #f44336;
}
