.dropdown-toggle::after {
  display: none !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: unset;
  cursor: pointer;
}

::ng-deep .spinner {
  padding: 20px;
  display: flex;
  justify-content: center;
  .mat-progress-spinner,
  .mat-spinner {
    circle {
      stroke: #5e72e4;
    }
  }
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  top: -5px;
  z-index: 9999;
  right: -5px;
}

::ng-deep .notif-error {
  background-color: #f44336;
}

::ng-deep .notif-warning {
  background-color: #ff9800;
}

::ng-deep .notif-success {
  background-color: #4caf50;
}

::ng-deep .mat-snack-bar-container {
  color: #fff;
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.16);
}

::ng-deep .mat-simple-snackbar-action button {
  background-color: unset;
  color: #fff;
}

.field-error {
  color: #f44336;
}
