<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Nova movimentação</h1>
        <p class="text-white mt-0 mb-5">Esta é a página de cadastro de movimentações. Aqui você pode criar as suas movimentações podendo ser tanto de despesas quanto de receitas.</p>
        <!-- <a href="#!" class="btn btn-info">Editar Perfil</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Nova Movimentação</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informação da movimentação</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Nome da categoria" value="Transporte">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Descrição</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Descrição">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Data</label>
                    <input type="date" id="input-first-name" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Tipo movimentação</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Tipo de movimentação" value="Despesa">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Valor</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Categoria</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" >
                  </div>
                </div>
              </div>
              <div class="col-12 text-right">
                <a href="#!" class="btn btn-sm btn-danger">Cancelar</a>
                <a href="#movements" class="btn btn-sm btn-primary">Criar movimentação</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
