<div class="card shadow">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Movimentações</h3>
      </div>
      <div class="col text-right">
        <a (click)="getMovements()" class="btn btn-sm btn-primary">Atualizar</a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
          <th scope="col">valor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let movement of movements">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm">{{movement.nome}}</span>
              </div>
            </div>
          </th>
          <td>
            {{movement.tipoMovimentacao}}
          </td>
          <td>
            <div class="d-flex align-items-center">
              <i *ngIf="movement.tipoMovimentacao == 'despesa'" class="fas fa-arrow-down text-warning mr-3"></i>
              <i *ngIf="movement.tipoMovimentacao == 'receita'" class="fas fa-arrow-up text-success mr-3"></i>
              <span class="mr-2">{{transformToBrazilianCurrency(movement.valor)}}</span>
              <div>
              </div>
            </div>
          </td>
          <td class="text-right">
            <div ngbDropdown placement="bottom-right">
              <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow customDropdown">
                <a (click)="editMovement(movement.id)" class="dropdown-item custom-item" href="javascript:void(0)"> <i
                    class="fas fa-edit"></i>Editar</a>
                <a (click)="deleteMovement(movement.id)" class="dropdown-item custom-item" style="color: red"
                  href="javascript:void(0)"> <i class="fas fa-trash"></i>Excluir</a>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <div *ngIf="!hasLoaded" class="spinner">
      <mat-spinner [diameter]="35" color="blue"></mat-spinner>
    </div>
  </div>
  <div *ngIf="hasLoaded" class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
        <li class="pageIndex">
          <span class="mb-0 text-sm">Página {{currentPage + 1}} de {{pageCount}}</span>
        </li>
        <li (click)="changePage(currentPage - 1)" *ngIf="currentPage != 0" class="page-item">
          <a class="page-link" href="javascript:void(0)" tabindex="-1">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="javascript:void(0)">{{currentPage + 1}}</a>
        </li>
        <li (click)="changePage(currentPage + 1)" *ngIf="currentPage + 1 !== pageCount" class="page-item">
          <a class="page-link" href="javascript:void(0)">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Próxima</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
