<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{isUpdate ? 'Atualizar categoria' : 'Nova categoria'}}</h1>
        <p class="text-white mt-0 mb-5">Esta é a página de {{isUpdate ? 'atualizar' : 'cadastro'}} de categorias. Aqui
          você pode {{isUpdate ? 'atualizar' : 'criar'}} as categorias de
          acordo com suas necessidades</p>
        <!-- <a href="#!" class="btn btn-info">Editar Perfil</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{isUpdate ? 'Atualizar Categoria' : 'Nova Categoria'}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="categoryForm">
            <h6 class="heading-small text-muted mb-4">Informação da categoria</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12 align-items-center">
                  <div class="form-group">
                    <label class="form-control-label {{getFieldError('nome') ? 'field-error' : ''}}"
                      for="input-username">Nome da categoria</label>
                    <input formControlName="nome" type="text" id="input-username"
                      class="form-control form-control-alternative" placeholder="Nome da categoria" value="Transporte">
                  </div>
                </div>
              </div>
              <div class="col-12 text-right">
                <a href="#!" class="btn btn-sm btn-danger">Cancelar</a>
                <a (click)="create()" class="btn btn-sm btn-primary">{{isUpdate ? 'Atualizar categoria' : 'Criar
                  categoria'}}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
